*{
    padding:0px;
    margin: 0px;
}
body{
    background-color: rgb(245, 246, 247);
    padding: 5px;
}

#h000{
    a{
        color: white;
        font-size: 129%;
    }   
    background-color: rgb(40, 48, 201);
    padding: 10px;
    height: 50px;
    
    
    
}
#img1{
    position: relative;
    left: 38%;
}
form{
    padding: 6px;
}
label{
    margin:3px;
}
/*#submit{
}*/
.card{
    h1{
        text-align: center;
           color: rgb(66, 177, 176);
    }
    background-color: white;
    #l1{
        text-align: center;
    }
    padding: 8px;
    margin:18px;
    height: 300px;
    border-radius:1cm;
    div{
        margin-left: 30px ;
        ul{
            margin-left: 30px;
        }
    }
    padding:20px;
}
a{
    text-decoration: none;
}
