*{
    padding: 0px;
    margin:0px;
}

header{
    position: fixed;
    top:0%;
    z-index: 2;
    height: 75px;
    width:100%;
    padding:5px;
    color: white;
    background-color: black;

    #heading{
        text-align: center;
        font-size: 18px;
    }
}

main{
    display: flex;
    position:static;
    height: 2000px;
    width:100%;
    background-color: rgba(221, 219, 219, 0.518);

    #sidepanel{
        position: absolute;
        top: 100px;
        display:inline-block;
        height: 90%;
        width: 200px;
        margin:10px;
        margin-left: 20px;
        background-color: white;
        
    }
    #scroll{
        display: inline-block;
        position: absolute;
        top: 100px;
        left:30%;
        margin:0px;
        margin-left: 30px;
        height: 90%;
        width:70%;
        
        

        .card{
            position: relative;
            background-color: white;
            display: inline-block;
            height: 15%;
            width: 10%;
            margin:10px;
            border-radius: 5%;
        }
    }
}

footer{
    position: static;
    bottom: 0px;
    height: 350px;
    width:100%;
    padding: 5px;
    color: rgb(255, 255, 255);
    background-color: rgba(0, 0, 0, 0.723);

    .column{
        display: inline-block;
        height: 100px;
        width:100px;
        margin: 15px;
        margin-right: 100px;
    }
    pre{
        font-size: 30px;
    }
}